<ul>
  <% @users.each do |user| %>
    <li class="card">
      <div class="photo">
       <img src="<%= user.photo %>" id="<%= "#{user.name}-img-#{user.id}" %>" width="90px" height="90px"/>
      </div>
      <div class="user_dev_link">
      <%= link_to(user) do %>
        <div class="user_card">
          <div class="user_name"><%= user.name %></div>
          <div class="user_posts">Number of Posts: <%= user.posts_counter %></div>
        </div>   
      <% end %>
      </div>
    </li>
  <% end %>
</ul>
