<div class="card">
  <div class="photo">
           <img src="<%= @user.photo %>" id="<%= "#{@user.name}-img-#{@user.id}" %>" width="90px" height="90px" />
  </div>
  <div class="user_card">
    <div class="user_name"><%= @user.name %></div>
    <div class="user_posts">Number of posts: <%= @user.posts_counter %></div>
  </div>
</div>

<% @user.posts.each do |post| %>
  <div class="post">
    <div class="post_title"><%= link_to post.title,  user_post_path(@user, post) %>
</div>
    <div class="post_text"><%= post.text %></div>
    <div class="post_media">
      <div class="post_comments">Comments: <%= post.comments_counter %></div>
      <div class="post_likes">Likes: <%= post.likes_counter %></div>
    </div>
    <%= button_to "Like", user_post_likes_path(@user, post), params: { like: { author_id: @user.id, post_id: post.id}}%>
  </div>
  
  <div class="comments">
    <% post.last_5_comments.includes(:author).each do |comment|%>
      <div class="comment">
        <div class="comment_name"><%= comment.author.name %>: </div>
        <div class="comment_text"><%= comment.text %></div>
      </div>
  <% end %>
  </div>
<% end %>
<button class="pagination">Pagination</button>
